<style>
.carousel_pane::-webkit-scrollbar {
	display: none;
}
</style>

<div class="relative m-auto w-full"
  role="region"
  aria-roledescription="carousel"
  [attr.aria-label]="title()"
  [style.--numitems]="numAcrossOnScreen()"
  >
  <header class="text-center">
    {{title()}}
  </header>
	<main>

		<div class="carousel_pane overflow-auto w-full relative z-0 snap-x snap-mandatory" #pane>
			<div
        class="flex flex-nowrap"
				[class.not-enough]="prevIsDisabled() && nextIsDisabled()">
				<ng-content #carouselContents></ng-content>
			</div>
		</div>

	</main>
  <footer class="flex gap-4">
    <button
      mec-button
      class="flex-none"
      (click)="prevButton()"
			[disabled]="prevIsDisabled()">
      &lt;
    </button>
    <ul class="flex-auto justify-center flex gap-2">
      @for(P of pages(); track P.id) {
        <li
          class="border-2 p-2 text-xl cursor-pointer border-sky-800 transition duration-150"
          [class.bg-white]="!P.is_current"
          [class.rounded-lg]="!P.is_current"
          [class.bg-sky-100]="P.is_current"
          [class.rounded-full]="P.is_current">&nbsp;</li>
      }
    </ul>
    <button
      mec-button
      class="flex-none"
      (click)="nextButton()"
      [disabled]="nextIsDisabled()">
      &gt;
    </button>
  </footer>
</div>
