<fieldset [disabled]="disabled()">
  <legend class="block font-bold w-full"><ng-content></ng-content>@if(required()){*}</legend>
  <div class="flex gap-2">
    @for(option of options(); track option) {
      <div class="flex gap-1">
        <input
          [id]="id() + '-' + option.value"
          type="radio"
          [value]="option.value"
          [field]="field()"
          (blur)="touched.set(true)
          "/>
        <label [for]="id + '-' + option.value">{{option.label}}</label>
      </div>
    }
  </div>
  <pre>required: {{required()}}</pre>
  <pre>touched: {{touched()}}</pre>
  <pre>invalid: {{invalid()}}</pre>
  <pre>errors: {{errors() | json}}</pre>
  @if (!showerrors()) {
    <mec-form-notes>
      <ng-content select="[notes]"></ng-content>
    </mec-form-notes>
  }

  @if (showerrors()) {
    <mec-form-error
      role="alert"
      [errors]="errors()"
      />
  }
</fieldset>
