<label class="flex gap-1" [for]="idfor()">
  <span class="w-[1.5rem] grid place-items-center">
    <input
      [id]="idfor()"
      type="checkbox"
      class="peer sr-only"
      [value]="checked()"
      (input)="toggle()"
      [disabled]="disabled()"
      (blur)="touched.set(true)"
      [checked]="checked()"
      />
      <span
        class="col-start-1 row-start-1 w-2 h-2 block outline-2 outline-offset-2 outline-sky-800 peer-disabled:outline-slate-400"
        >
      </span>
      <span
        class="col-start-1 row-start-1 scale-0 peer-checked:scale-100 peer-checked:bg-yellow-800 peer-disabled:bg-slate-400 w-2 h-2 block transition"
        >
      </span>
  </span>
  <span><ng-content />@if(required()){*}</span>
</label>
@if (!showerrors()) {
  <mec-form-notes>
    <ng-content select="[notes]" />
  </mec-form-notes>
}

@if (showerrors()) {
  <mec-form-error
    role="alert"
    [errors]="errors()"
    />
}
