<label [htmlFor]="idfor()" class="block font-bold w-full"><ng-content></ng-content>@if(required()){*}</label>
<textarea
  [id]="idfor()"
  class="block border-yellow-800 border-2 w-full"
  [value]="value()"
  (input)="update($event)"
  ></textarea>
@if (!invalid()) {
  <app-form-notes [minLength]="minLength()"
    [maxLength]="maxLength()"
    [min]="min()"
    [max]="max()">

  </app-form-notes>
}

@if (invalid()) {
  <app-form-error
    role="alert"
    [errors]="errors()"
    [minLength]="minLength()"
    [maxLength]="maxLength()"
    [min]="min()"
    [max]="max()"
    />
}
