<label [htmlFor]="idfor()" class="block font-bold w-full"><ng-content></ng-content>@if(required()){*}</label>
<select
  [id]="idfor()"
  class="block border-2 w-full rounded-lg h-[2.75rem] px-2"
  [class.bg-white]="!showerrors()"
  [class.border-sky-500]="!showerrors()"
  [class.bg-rose-200]="showerrors()"
  [class.border-rose-800]="showerrors()"
  [class.bg-neutral-300]="disabled()"
  [class.border-neutral-600]="disabled()"
  [value]="value()"
  (input)="update($event)"
  [disabled]="disabled()"
  (blur)="touched.set(true)"
  >
  <ng-content select="option"></ng-content>
</select>
@if (!showerrors()) {
  <mec-form-notes>
    <ng-content select="[notes]"></ng-content>
  </mec-form-notes>
}

@if (showerrors()) {
  <mec-form-error
    role="alert"
    [errors]="errors()"
    />
}
