<label [htmlFor]="idfor()" class="block font-bold w-full"><ng-content></ng-content>@if(required()){*}</label>
<select
  [id]="idfor()"
  class="block border-2 w-full"
  [class.border-sky-500]="!showerrors() && !disabled()"
  [class.border-rose-800]="showerrors() && !disabled()"
  [class.bg-neutral-300]="disabled()"
  [class.border-neutral-600]="disabled()"
  [value]="value()"
  (input)="update($event)"
  >
  <ng-content select="option"></ng-content>
</select>
@if (!showerrors()) {
  <mec-form-notes></mec-form-notes>
}

@if (showerrors()) {
  <mec-form-error
    role="alert"
    [errors]="errors()"
    />
}
