<label [htmlFor]="idfor()" class="flex font-bold w-full">
  <span class="w-[1ch]">@if(required()){*}</span>
  <span><ng-content></ng-content></span>
</label>
<select
  [id]="idfor()"
  class="block border-2 w-full rounded-lg h-[2.75rem] px-2"
  [class.bg-white]="displayState() === 'default'"
  [class.border-sky-800]="displayState() === 'default'"
  [class.bg-rose-200]="displayState() === 'error'"
  [class.border-rose-800]="displayState() === 'error'"
  [class.bg-neutral-300]="displayState() === 'disabled'"
  [class.border-neutral-600]="displayState() === 'disabled'"
  [value]="value()"
  (input)="update($event)"
  [disabled]="disabled()"
  (blur)="touched.set(true)"
  >
  <ng-content select="option"></ng-content>
</select>
@if (displayState() !== 'error') {
  <mec-form-notes>
    <ng-content select="[notes]"></ng-content>
  </mec-form-notes>
}

@if (displayState() === 'error') {
  <mec-form-error
    role="alert"
    [errors]="errors()"
    />
}
