<div
  class="accordion-navigation"
  [class.active]="opened()">
	<button
    class="w-full flex place-content-between border-2 p-2 rounded-t-sm text-xl cursor-pointer border-sky-800"
    [class.rounded-b-sm]="!opened()"
		[class.active]="opened()"
    [class.border-b-0]="opened()"
		(click)="$event.preventDefault();toggle.emit(null)"
		[attr.aria-expanded]="opened()"
    [attr.aria-controls]="id() + '-content'"
    [id]="id() + '-button'">
    <span>{{title()}}</span>
    <!-- icon -->
    <mec-hero-icon [icon]="opened() ? 'minus' : 'plus'"/>
	</button>

	<div
    class="border-2 p-2 rounded-b-sm bg-sky-100 border-t-0 border-sky-800"
    [id]="id() + '-content'"
    [attr.aria-labelledby]="id() + '-button'"
    [class.hidden]="!opened()"
    [class.block]="opened()"
    >
		<ng-content></ng-content>
	</div>
<div>
