<div
  class="accordion-navigation"
  [class.active]="opened()">
	<button
    class="w-full flex place-content-between border-2 p-2 rounded-t-sm text-xl cursor-pointer border-sky-800 transition duration-150"
    [class.rounded-b-sm]="!opened()"
    [class.bg-sky-100]="!opened()"
    [class.bg-white]="opened()"
    [class.border-b-color-white]="opened()"
		(click)="$event.preventDefault();toggle.emit(null)"
		[attr.aria-expanded]="opened()"
    [attr.aria-controls]="id() + '-content'"
    [id]="id() + '-button'">
    <span>{{title()}}</span>
    <!-- icon -->
    <mec-hero-icon [icon]="opened() ? 'minus' : 'plus'"/>
	</button>

	<div
    class="grid transition-all duration-500 ease-in-out border-t-0 border-2 rounded-b-sm"
    [id]="id() + '-content'"
    [attr.aria-labelledby]="id() + '-button'"
    [class.grid-rows-[1fr]]="opened()"
    [class.border-transparent]="!opened()"
    [class.border-sky-800]="opened()"
    [class.grid-rows-[0fr]]="!opened()"
    >
    <div class="overflow-hidden">
      <div class="bg-white p-2">
		    <ng-content />
      </div>
    </div>
	</div>
<div>
