<style>
  @keyframes dialog-in {
    0% {
      transform: scale(2.5) translateY(-100vh);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes dialog-out {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(.5) translateY(120vh);
      filter: blur(.5);
    }
  }
  :host[open] {
    animation: dialog-in 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  :host[closing]{
    animation: dialog-out 0.3s forwards;
  }
</style>

<header class="flex bg-sky-100 p-4 gap-2">
  <h2 class="grow text-lg" [id]="id() + '-dialog-title'">
    <ng-content select="[slot=title]" />
  </h2>
  @if (!isAlert) {
    <button
      mec-button-small
      class="cursor-pointer"
      (click)="closeModal()"
      type="button"
    >
      <mec-hero-icon [icon]="'x-mark'"/>
    </button>
    }
</header>
<main class="px-8 my-8">
  <ng-content />
</main>
<footer class="flex bg-sky-100 p-4 gap-2">
  <ng-content select="[slot=confirm]" />
  <ng-content select="[slot=cancel]" />
</footer>
