
<header class="flex bg-sky-100 p-4 gap-2">
  <h2 class="grow text-lg" [id]="id() + '-dialog-title'">
    <ng-content select="[slot=title]" />
  </h2>
  @if (!isAlert) {
    <button
      mec-button-small
      class="cursor-pointer"
      (click)="closeModal()"
      type="button"
    >
      <mec-hero-icon [icon]="'x-mark'"/>
    </button>
    }
</header>
<main class="px-8 my-8">
  <ng-content />
</main>
<footer class="flex bg-sky-100 p-4 gap-2">
  <ng-content select="[slot=confirm]" />
  <ng-content select="[slot=cancel]" />
</footer>
